{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-center">Add Expense</h3>
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <div class="mb-3">{{ form.amount.label }}{{ form.amount(class="form-control") }}</div>
                    <div class="mb-3">{{ form.category.label }}{{ form.category(class="form-select") }}</div>
                    <div class="mb-3">{{ form.date.label }}{{ form.date(class="form-control") }}</div>
                    <div class="mb-3">{{ form.note.label }}{{ form.note(class="form-control") }}</div>
                    <div class="text-center">{{ form.submit(class="btn btn-primary") }}</div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
